.input::placeholder {
  color: #4a4949 !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.input {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}
