h1 {
  font-size: 76px;
  line-height: 125%;
  font-weight: 400;
}

h2 {
  font-size: 61px;
  line-height: 125%;
  font-weight: 400;
}

h3 {
  font-size: 49px;
  line-height: 125%;
  font-weight: 400;
}

h4 {
  font-size: 39px;
  line-height: 125%;
  font-weight: 400;
}

h5 {
  font-size: 31px;
  line-height: 125%;
  font-weight: 400;
}

h6 {
  font-size: 25px;
  line-height: 125%;
  font-weight: 400;
}

span {
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
}

.title {
  color: white;
}
