.theme-title {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 8px;
  letter-spacing: 10%;
  text-transform: uppercase;
}
