.header {
  background-color: #06151a;
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner {
  background: linear-gradient(180deg, #17e4b9 0%, #091d24 100%);
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* opcional */
}

.main {
  background-color: #091d24;
  margin: 0 !important;
  font-family: "Work Sans", sans-serif;
  color: white;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.stack-container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 24px;
}

.card-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.card-list .tag {
  background-color: #4a4949;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
  margin: 8px 0px;
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .card-list {
    justify-content: center;
  }
}

.form-container {
  display: flex;
  justify-content: center;
}
